#navbar {
    background-color: #fdfbfb;
    box-shadow: 2px 0px 8px rgba(112, 109, 109, 0.3);
  }
  .navbar-brand {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 28px;
  }

  h2 {
  display: block;
  padding: 20px;
  }

    nav#dot-nav {
  position: fixed;
  right: 20px;
  top: 20px;
}

    nav#dot-nav a {
  border: 1px solid #121212;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: block;
  margin: 10px;
}

    nav#dot-nav a.active, nav#dot-nav a:first-child {
  background: #121212;
}

.about{
    display: block;
    margin: 0 auto;
    min-height: 150vh;
    text-align: center;
    background-color:#E6F4F1;
    background-image: URL("../images/heaven-meets-earth-homepage-space.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
  .about h1 {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    display: block;
    position: relative;
    top: 230px;
    padding: 25px;
    margin: 0 auto;
    font-size: 80px;
    text-align: center;
    color: rgb(243, 240, 240);
    text-shadow: 0px 1px 2px  rgb(92, 91, 91);
    letter-spacing: 8px;
  }

  .about h2 {
    display: block;
    position: relative;
    top: 200px;
    padding: 25px;
    margin: 0 80px;
    line-height: 50px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: rgb(234, 236, 240);
    letter-spacing: 10px;
  }

  .intro-para {
    display:block;
    padding: 10px;
    margin: 0 30px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    color: rgb(213, 217, 223);
  }

  .core-values{
    display: block;
    padding: 30px 10px;
    margin: 0 auto;
    min-height: 120vh;
    text-align: center;
    background-color:#ffff;  
  }
  .core-value-cards {
    display: block;
    font-size: 34px;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    padding: 200px 50px;
  }
  .core-value-cards:hover{
    font-weight: bolder;
    transition-delay: 200ms;
    cursor: pointer;
  }
 #apokatalasso {
    background-image: url("../images/apostolic.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;
 }

 #apostolic {
    background-image: url("../images/apostolic.jpg");
    background-attachment: fixed;
    background-size: cover;
    color:#ffff;
  }

  #growth {
    background-image: url("../images/growth.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;
  }

  #network {
    background-image: url("../images/network.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: #ffff;
  }

  #ontology {
    background-image: url("../images/ontology.jpg");
    background-attachment: fixed;
    color: #ffff;
    background-size: 75%;
  }

  #transformation {
    background-image: url("../images/transformation.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 10px;
    color: #ffff;
  }

  #mission {
    background-image: url("../images/movement.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #ffff;
  }

  #movement {
    background-image: url("../images/movement.jpg");
    background-attachment: fixed;
    background-size: cover;
    color:#ffff;
  }

.resources{
    display: block;
    margin: 0 auto;
    min-height: 400px;
    text-align: center;
    background-color:#ffffff ;
    color: rgb(0, 0, 0);
    text-shadow: 1px, 0px, 2px, grey;
    min-height: 80vh;
  }

.resources p {
  margin: 0 80px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding: 0px 25px 25px 25px;
}

.resources a {
  font-size: 18px;
  padding: 15px;
  box-shadow: 2px 1px 2px lightgray;
  border-radius: 50px 50px;
  width: 600px;
  background-color: #324B4F;
  color: white;
}

.resources a:hover{
 background-color: #223235;
 transition-duration: 1s;
}

footer{
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f7f5f5;
    box-shadow: 2px 0px 8px rgba(112, 109, 109, 0.3);
  }

/* about */

h1 {
  display: block;
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-shadow: 1px 0px 1px  rgb(128, 128, 128, 0.5);
}

.about-section {
  background-color: #95B0B5;
  color: white;
  padding: 30px 50px;
  height: 760px;
  width: auto;
}
.about-section h2 {
  text-align: center;
  font-weight: 500;
  padding: 28px;
  text-shadow: 1px 0px 1px rgb(128, 128, 128, 0.2) ;
}
.about-section p {
  text-align: justify;
  font-weight: 300;
  line-height: 180%;
  font-size: 1.3vw;
}

.about-section:hover {
  background-color:white;
  color: black;
  transition: all 500ms ease-in-out;
}

#donate-button:hover {
  background-color: #223235;
  transition-duration: 500ms;
}

/* teaching library */

.teaching-library-header {
  background-color: #fdfbfb;
  box-shadow: 2px 0px 8px rgba(112, 109, 109, 0.3);
  }

#home-icon{
  padding:15px;
  margin: 5px;
  font-size: 30px;
  color:rgba(112, 109, 109)
}
#teaching-unit-container{
  display: block;
  margin: 0 auto;
  padding: 60px 60px;
  max-width: 1400px;
}

.teaching-library {
  text-align: center;
  padding: 20px;
}
.teaching-library p {
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  max-width: 1300px;
}
.teaching-unit {
  height: 300px;
  width: auto;
  text-align: center;
  padding: 80px 10px;
  margin: 10px;
  border: 1px solid rgb(216, 215, 215, 0.6);
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgb(0,0,0,0.1);
}
.teaching-unit h3 {
  text-align: center;
  font-size: 2vw;
  overflow-wrap:break-word;
}
.teaching-unit p {
  font-size: 14px;
}
.teaching-unit-links{
  display:block;
  margin: 0 auto;
  text-align:center;
  font-size: 15px;
  font-weight: 400;
}
.teaching-unit-links p {
  padding: 2px;
  margin: 0 auto;
}

#unit-1 {
  background: #95B0B5;
}

#unit-2 {
  background: #DEB297;

}
#unit-3 {
  background: #A67D64;
}
#unit-4 {
  background: #324B4F;
}
#unit-5 {
  background: #324B4F;
}
#unit-6 {
  background: #E6F4F1;
}
#unit-7 {
  background: #95B0B5;
}
#unit-8 {
  background: #DEB297;
}

#unit-1:hover {
  transition-timing-function:linear;
  transition-duration: 100ms;
  background-color: #fff;
}
#unit-2:hover {
  transition-timing-function:linear;
  transition-duration: 100ms;
  background-color: #fff;
}
#unit-3:hover {
  transition-timing-function:linear;
  transition-duration: 100ms;
  background-color: #fff;
}
#unit-4:hover {
  transition-timing-function:linear;
  transition-duration: 100ms;
  background-color: #fff;
}
#unit-5:hover {
  transition-timing-function:linear;
  transition-duration: 100ms;
  background-color: #fff;
}
#unit-6:hover {
  transition-timing-function:linear;
  transition-duration: 100ms;
  background-color: #fff;
}
#unit-7:hover {
  transition-timing-function:linear;
  transition-duration: 100ms;
  background-color: #fff;
}
#unit-8:hover {
  transition-timing-function:linear;
  transition-duration: 100ms;
  background-color: #fff;
}
/* resources */

.resources-library {
  background-image: url("../images/bible.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position-y: 25%;
  height: 50vh;
}
.resources-library h2 {
  color: white;
  font-size: 35px;
}
.resources-library p {
  display: block;
  margin: 0 35px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  max-width: 300px;
}
.resources-library a {
  padding: 10px;
  width: 300px;
  margin: 30px;
  border-radius: 50px 50px;
}

#resources-container {
  padding:15px;
}
.publications {
  text-align: center;
  margin: 15px auto;
}
.publications:hover {
  background-color: #fff;
  transition: ease-in-out 200ms;
}
.blog {
  text-align: center;
  margin: 15px auto;
  position: relative;
  overflow: hidden;
  width: 100%;
}

rssapp-feed {
   width: 70%;
 }

 .articles {
   display:block;
   list-style: none;
   text-align: center;
   margin: 0 40px;
 }
 .articles li {
   padding: 15px; 
 }
 .articles a {
   color: black;
   
 }

 #book1 {
   display: block;
   margin: 30px auto;
   width: 80%;
 }
  #book2 {
   display: block;
   margin: 30px auto;
   width: 80%;
 }
 .list-group-item:hover{
   background-color: #CCCCCC;
   transition: ease-in-out 300ms;
   border: solid 0.5px lightgray;
 }
 .list-group-item:visited{
   background-color: #CCCCCC;
   transition: ease-in-out 300ms;
   border: solid 0.5px lightgray;
 }

/* network */

.network-section {
  text-align: center;
  margin: 10px;
  background-color: #2c3d4e;
  color:white;
  padding: 50px;
}

.network-section:hover {
  background-color:white;
  color:black;
  transition: all 500ms ease-in-out;
}

/* contact us */

h2 {
padding: 40px;
}

.contact-form {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: #DEB297;
}

.contact-form ul {
  list-style: none;
  display: inline-block;
  text-align: left;
}
.contact-form label {
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}
.contact-form input {
  width: 500px;
  height: 40px;
  font: 14px sans-serif;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow:1px 2px 1px #9e9d9d;
  border-radius: 50px;
}
.contact-form textarea {
  width:500px;
  height:150px;
  font: 16px sans-serif;
  border: 1px solid transparent;
  border-radius: 15px;
  color: #000000;
  box-shadow:1px 2px 1px #9e9d9d;
}
.contact-form button {
  display: block;
  margin: 15px auto;
  padding: 10px;
  width: 120px;
  border: 1px solid transparent;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffff;
  color: #000000;
  box-shadow:1px 2px 1px #9e9d9d;
}
.contact-form button:hover {
  background-color:#bb8b6e;
  color: white;
  transition: ease-in-out 100ms;
}
.contact-form button:active {
  background-color:#bb8b6e;
  color: white;
}

.subscribe {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: 30px;
  height: 50vh;
}

.subscribe p {
  font-size: 18px;
}

.subscribe input {
  margin: 20px auto;
  width: 500px;
  height: 40px;
  font: 16px sans-serif;
  padding: 22px;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow:1px 2px 1px #9e9d9d;
  border-radius: 50px;
}

#mc-embedded-subscribe {
  display: inline;
  margin: 15px auto;
  padding: 15px;
  width: 130px;
  line-height:10px;
  border: 1px solid transparent;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
 
  background-color: #ffff;
  color: black;
  box-shadow:1px 2px 1px #9e9d9d;
}

#mc-embedded-subscribe:hover {
  background-color:#000000;
  color: white;
  transition: ease-in-out 200ms;
}

#mc-embedded-subscribe:active {
  background-color:#000000;
  color: white;
}

#donate {
  display: block;
  text-align: center;
  background-color: #f8f8f7;
  height: 60vh;
}

#donate p {
  display: block;
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
  text-align: center;
  font-weight: 300;
  line-height: 30px;
  max-width: 1000px;
}

#paypal-button {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  width: 250px;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  box-shadow:2px 2px 1px #2c2f3d;
  background-color: #0C3685;
  color: white;
}

#transferwise-button {
  display: inline-block;
  margin: 20px;
  padding: 4px;
  width: 250px;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  box-shadow:2px 2px 1px #9e9d9d;
  background-color: #fff;
}

#bank-button {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  width: 250px;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 16px;
  box-shadow:2px 2px 1px #727272;
  background-color:rgb(145, 143, 143);
  color: white;
}
